*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(21, 252, 252)
}

body {
    background:linear-gradient(black 30%, green );
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 30px;
}

h1 {
    text-align: center;
}

main{
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

div.timer{
    margin:20px auto;
}

div.timer .time{
    display: flex;
    justify-content: center;
}

.days,.hours,.minutes,.seconds{
    border: 1px solid rgb(21, 252, 252);
    padding: 25px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.timer div p{
    font-weight:lighter;
    font-size: 65px;
}

input {
    position: absolute;
    width: calc(100% - 32px);
    height: 100%;
    border:none;
    outline: none;
    padding:1px 0px 10px 32px;
    border-radius: 5px;
    top: -10px;
    left: 0px;
    font-weight:lighter;
    font-size: 55px;
    background-color: white;
    color: black;
    filter: opacity(0);
}

input:focus ~ span {
    color: black;
}

.edit {
    filter: opacity(1);
}

/* .visible {
    color: black;
} */

.time div span{
    text-align: center;
    z-index: 2;
}

div.control{
    margin: 35px auto;
    width: 50%;
    padding: 15px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.running{
    border: 1px solid red;
}

.control button{
    border: 2px solid red;
    color: cyan;
    display: inline-block;
    padding: 10px 15px;
    font-weight: lighter;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 0px 5%;
    background-color: inherit;
}

.control button:focus{
    border: 2px solid orange;
    color:white;
}

.control button:hover {
    border: 2px solid orangered;
    color: white;
}

.vibrator{
    transform: translateX(3px);
}

#start{
    position: absolute;
    padding-left:5px ;
}

.opacity {
    filter: opacity(0);
}

.fadein {
    filter: opacity(1);
}

.fadeout {
    filter: opacity(0);
}

footer {
    margin:40px auto 0px;
}

footer p {
    color:grey;
    font-size: small;
}

@media 
        (max-width:635),
        (orientation:portrait)
{
    .timer div p {
        /* max-width: calc(); */
        font-size: calc(11.6vmin - 3px);
    }

    .days,.hours,.minutes,.seconds{
        padding:calc(5vmin - 5.7px)
    }

    .time div span{
        font-size: calc(3vmin - 2px);
        text-align: center;
    }

    input {
        padding:5px calc(4vmin + 4px) 3vmin calc(5.7vmin - 6px);
        font-size: calc(9.98vmin - 4px);
        left: 0px;
        border-right: 55px solid white;
        width: calc(20.2vmin - 4px);
    }

    div.control {
        width: calc(50% - 20px)
    }

    .control button{
        font-weight: bold;
        padding: 7px 12px;
        font-size: calc(4vmin - 6px);
    }

    h1 {
        font-size: calc(6vmin - 2px);
    }

}
